#head{
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: navy;
    height: 70px;
}
.container{
    width: 960px;
    margin: auto;
}

#parameter{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    background-color: #888888
}
#search{
    width:90%;
    padding: 10px;
}
#record{
    width:90%;
    padding: 10px;
}
#startyr{
    width:90%;
    padding: 10px;
}
#endyr{
    width:90%;
    padding: 10px;
}